body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
}

nav{
  display: flex;
  width: 80vw;
  justify-content: flex-start;
  padding: 1rem;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

footer {
  justify-content: center;
  text-align: right;
  padding: 2rem;
  width: 100%;
  background-color: #2979ff;
  display: flex;
}


form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 100px;
  margin: 0 auto;
  padding-top: 150px;
  

}

input{
  padding: 10px;
  border-radius: 10px;
  margin: 10px;

}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;
    
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}
button [type=Submit]{
	background: #2979ff;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
  width: 20px;
}
h2{
  text-align: center;
  color: #2979ff;
}
p{
  text-align: center;
  font-size: 20px;
}
.nav-link{
  font-Size : 25px;
}
#validacionFalsa{
  color: red;
  padding-top: 150px;
  text-align: center;
  font-size: 20px;
  font-style: italic;
}
#validacionVerdadera{
  color: green;
  padding-top: 150px;
  text-align: center;
  font-size: 20px;
  font-style: italic;
}
footer img {
  width: 60px;
  border: 50px;
  margin-left: 2rem;
}

.logoDH{
  width: 300px;
  margin-right: 10rem;
}

.Return{
  width: 100%;
  background-color: #f50057 ;
  font-size: 20px;
  padding: .5rem;
  border: 2rem;
}
.cardDark{
  background-color: #31313196;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.favButton{
  width: 100%;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}




